{% extends 'base_header_main.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
    Чати
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/all_chats/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat/chat.css' %}">
    <link rel="stylesheet" href="{% static 'css/modals/modals.css' %}">
{% endblock %}

{% block content %}
    <div class="body">
        <div class="all-contacts">
            <button class="add-chat">
                <img src="{% static 'images/plus.png' %}" class="icon-image" alt="">
                <span class="button-title">Створити груповий чат</span>        
            </button>
            <div class="contacts">
                <div class="title-contacts">
                    <img src="{% static 'images/contact.png' %}" class="icon-image" alt="">
                    <span class="contact-span">Контакти</span>
                </div>
                <div class="field-container">
                    <img src="{% static 'images/seacrh.png' %}" class="search-image icon-image" alt="">
                    <input type="text" class="seacrh-input" placeholder="Пошук">
                </div>
                <!-- Контакты загружаются сюда через AJAX -->
                <div class="people-contacts" id="ajax-contacts-container">
                    <!-- Загрузка друзей через AJAX -->
                </div>
            </div>
        </div>

        <!-- Остальная часть твоего шаблона без изменений -->
        <div class="people-chat">
            <div class="chat">
                <div class="chat-hat">
                    <div class="name-and-avatar-group">
                        <a class="arrow-image small-image" href="{% url 'all_chats'%}" alt="">
                            <img class="arrow-image small-image" src="{% static 'images/arrow.png' %}" alt="">
                        </a>
                        <div class="information-group">
                            {% if chat_group.avatar %}
                                <img class="avatar" src="{{ chat_group.avatar.url }}" alt="">
                            {% else %}
                                <img class="avatar" src="{% static 'images/group_avatar.png' %}" alt="">
                            {% endif %}
                            <div class='name-group'>
                                <input type="hidden" value="{{ chat_group.pk }}" id="chatGroupId">
                                <input type="hidden" value="{{ request.user.username }}">
                                <h1 class='name'>{{ chat_group.name }}</h1>
                                {% if chat_group.is_personal_chat == False %}
                                    <h2 class="members">{{ chat_group.members.all|length }} учасників, 1 в мережі</h2>
                                {% elif chat_group.is_personal_chat == True %}
                                    <h2 class="members">{{ chat_group.members.all|length }} учасники, 1 в мережі</h2>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <img class="dots small-image" src="{% static 'images/dots.png'%}" alt="">
                    {% for profile in chat_group.members.all %}
                        {% if profile == current_user %}
                            {% if chat_group.admin == current_user %}
                                <div class="admin-modal-info hidden modal-info">
                                    <div class="dots-container">
                                        <img class="dots small-image" src="{% static 'images/dots.png'%}" alt="">
                                    </div>
                                    <div class="title-redact-group frame-title">
                                        <img src="{% static 'images/pencil.png' %}" class="small-image" alt="">
                                        <span class="title-redact-h1 edit-group">Редагувати групу</span>
                                    </div>
                                    <div class=line></div>
                                    <div class="title-delete-group frame-title">
                                        <img src="{% static 'images/delete.png' %}" class="small-image" alt="">
                                        <a href="{% url 'delete_chat' chat_group.pk %}" class="title-redact-h1 delete-group">Видалити чат</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="modal-info user-modal-info hidden">
                                    <div class="dots-container">
                                        <img class="dots small-image" src="{% static 'images/dots.png'%}" alt="">
                                    </div>
                                    <div class="title-delete-group frame-title">
                                        <img src="{% static 'images/exit_group.png' %}" class="small-image" alt="">
                                        {% if chat_group.is_personal_chat %}
                                            <a href="{% url 'delete_chat' chat_group.pk %}" class="title-redact-h1">Видалити чат</a>
                                        {% else %}
                                            <a href="{% url 'exit_from_group' chat_group.pk %}" class="title-redact-h1">Покинути групу</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="message-and-input">
                    <div class="messages-wrapper">
                        <div id="messages" class="messages-class">
                            <input type="hidden" name="chat_hidden_input" class="input-name" value="{{ current_user.user.pk }}">
                            {% for message in messages %}
                                {% if message.author == current_user %}
                                    <div class="one-message author-me">
                                        <div class="message-and-time">
                                            <p class="message-content">{{ message.content }}</p>
                                            <p class="message-time">{{ message.sent_at|date:'c' }}</p>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="message-with-avatar author-people-message">
                                        {% with author_avatar=author_avatars|get_item:message.author.id %}
                                            {% if author_avatar and author_avatar.image %}
                                                <img class="avatar-people" src="{{ author_avatar.image.url }}" alt="">
                                            {% else %}
                                                <img class="avatar-people" src="{% static 'images/icons/account.png' %}" alt="">
                                            {% endif %}
                                        {% endwith %}
                                        <div class="one-message author-people">
                                            <p class="message-author">{{ message.author }}</p>
                                            <div class="message-and-time">
                                                <p class="message-content">{{ message.content }}</p>
                                                <p class="message-time">{{ message.sent_at|date:'c' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="input-div">
                        <form method="post" class="input-form" id="form">
                            {{ form }}
                            {% csrf_token %}
                            <div class="buttons">
                                <button class="button confirm" type="submit">
                                    <img class="images" src="{% static 'images/confirm.png'%}" alt="">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- ... остальной код шаблона без изменений ... -->

    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/chat.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
